
@keyframes peel {
    from{background:url("images/gift-cover.jpg"); background-size:cover;}
    to{background:var(--giphy); background-size:cover;}
}

body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#2a9d8f, #e9c46a);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #e9c46a;
    margin-bottom: 10px;
}

#bday-age {
    background: #e9c46a;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #e9c46a;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 225px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size:cover;
}

#gift-img-happy:hover {
    --giphy:url("https://media.giphy.com/media/26xBQuuO7PaO4FRPq/giphy-downsized-large.gif");
    animation-name:peel;
    animation-duration:2s;
    animation-fill-mode: forwards;
}

#gift-img-hot:hover {
    --giphy:url("https://media.giphy.com/media/BZhscDxxBi3FGAKnfo/giphy.gif");
    animation-name:peel;
    animation-duration:2s;
    animation-fill-mode: forwards;
}

#gift-img-genius:hover { 
    --giphy:url("https://media.giphy.com/media/d2Z9QYzA2aidiWn6/giphy.gif");
    animation-name:peel;
    animation-duration:2s;
    animation-fill-mode: forwards;
}

#gift-img-badass:hover {
    --giphy:url("https://media.giphy.com/media/7qZ3ZX1Gu3TZm/giphy.gif");
    animation-name:peel;
    animation-duration:2s;
    animation-fill-mode: forwards;
}

#gift-img-cheers:hover {
    --giphy: url("https://media.giphy.com/media/BPJmthQ3YRwD6QqcVD/giphy.gif");
    animation-name:peel;
    animation-duration:2s;
    animation-fill-mode: forwards;
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

